/* Classes */
.titleName {
  padding: 0 60px;
  font-size: 30px;
}
.navbar {
  padding: 1rem 0 1rem;
}
.find {
  padding: 8px 60px;
}

.dropdown-menu {
  width: 250px;
  left: -270%;
}

.dropdown-item:hover {
  background-color: rgb(235, 232, 232);
}
/******** For Profile *********/
.profile-box {
  width: 800px;
  height: 1000px;
  border: 18px solid rgb(212, 211, 211);
  padding: 10px;
  border-radius: 20px;
}

.profile-form {
  border-radius: 10px;
}

.personal-info {
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 45px;
}

.information {
  border: none;
  width: 50%;
  margin-left: 20px;
}

.edit-btn {
  background: none;
  border: none;
  color: #0d6efd;
  margin-right: 20px;
}

.line {
  border-bottom: 6px solid gray;
  border-radius: 10px;
  width: 95%;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 35px;
}

/* For Listings */
.listings {
  text-align: left;
  padding-left: 20px;
}
/* not something you want to do. Bootstrap navbar was blocking the change. */
.find:hover {
  color: #0d6efd !important;
}

.container-fluid {
  padding: 0.5% 2%;
}

.nav-item {
  padding: 0 5px;
}

.length {
  height: 100px;
}

.fontawesome:hover {
  color: #0d6efd;
}

h1 {
  text-align: center;
  padding-top: 100px;
}
