/* Classes */
.titleName {
  padding: 0 60px;
}
.navbar {
  padding: 1rem 0 1rem;
}
.find {
  padding: 8px 60px;
}
/* not something you want to do. Bootstrap navbar was blocking the change. */

.find:hover {
  color: #0d6efd !important;
}

.container-fluid {
  padding: 0.5% 2%;
}

.nav-item {
  padding: 0 5px;
}

.length {
  height: 100px;
}

.fontawesome:hover {
  color: #0d6efd;
}

#colunms {
  padding: 50px;
}

/* Address additions */
.srchBar input[type=text]{
  width: 50%;
  margin-bottom: 10px;
  border: 4px solid #000;

}

#left {
  height: 750px;
  overflow: scroll;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.placard-apt-1 {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  width: 550px;
}

.placard-apt-2 {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  width: 550px;
}
.placard-header {
  border-bottom: 1px solid #eee;
  var(--bs-font-sans-serif)
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 1.4;
  padding: 12px 20px 10px;
  text-align: left;
}
.placard-photo-1 {
  background: url(https://images.rentable.co/35034/7837940/large.jpg) 50% 50%;
  background-size: cover;
  height: 130px;
  width: 100%;
  text-align: left;
  z-index: 2;
}

.placard-photo-2 {
  background: url(https://www.americancampus.com/assets/563-theprovince/SPS/Pricing%20Section/Province-Louisville-living-room3.jpg?ext=.jpg)
    50% 50%;
  background-size: cover;
  height: 130px;
  width: 100%;
  text-align: left;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  overflow: auto;
}
