/*Global variables*/
:root {
  --ulease-blue: #0d6efd;
}

body {
  background: #f5f5f5;
}

.login-form {
  width: 400px;
  margin: 200px 200px auto;
  font-size: 15px;
}
/* .login-form form { */
.formed {
  background: rgb(255, 255, 255);
  box-shadow: 10px 5px 2px rgb(13, 110, 253);
  padding: 30px;
  border-radius: 20px;
}
.login-form h2 {
  margin: 0 0 15px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.title-desc {
  margin: 300px auto;
  padding-right: 100px;
}
.title h1 {
  color: var(--ulease-blue);
  font-size: 50px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.title-desc p {
  font-size: 30px;
}

hr {
  height: 2px !important;
}
.password {
  text-align: center;
  text-decoration: none;
}

.password:hover {
  text-decoration: underline;
  color: black;
}

.error-message {
  color: black;
  background-color: red;
}

/********Email input box*************/
#email-label {
  font-size: 20px;
  padding: 0 5px;
  position: absolute;
  top: 10px;
  left: 12px;
  background-color: #fff;
  color: grey;
  transition: 0.2s;
}

#loginEmail {
  padding: 10px;
  outline: none;
  min-height: 50px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  width: 100%;
  font-size: 20px;
}
#loginEmail:focus {
  border-color: var(--ulease-blue);
}
#loginEmail:focus + #email-label {
  color: var(--ulease-blue);
}
#loginEmail:focus + #email-label,
#loginEmail.not-empty + #email-label {
  top: -15px;
  left: 12px;
}

/********Password input box*************/
#password-label {
  font-size: 20px;
  padding: 0 5px;
  position: absolute;
  top: 10px;
  left: 12px;
  background-color: #fff;
  color: grey;
  transition: 0.2s;
}

#loginPassword {
  padding: 10px;
  outline: none;
  min-height: 50px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  width: 100%;
  font-size: 20px;
}
#loginPassword:focus {
  border-color: var(--ulease-blue);
}
#loginPassword:focus + #password-label {
  color: var(--ulease-blue);
}
#loginPassword:focus + #password-label,
#loginPassword.not-empty + #password-label {
  top: -15px;
  left: 12px;
}

.toggle-password {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  color: grey;
  font-size: 20px;
  right: 1rem;
  top: 1rem;
}
