/* Classes */
.titleName {
  padding: 0 60px;
  font-size: 30px;
}
.navbar {
  padding: 1rem 0 1rem;
}
.find {
  padding: 8px 60px;
}

/******** Dropdown Menu *********/
.dropdown-menu {
  width: 250px;
  left: -270%;
}

.dropdown-item:hover {
  background-color: rgb(235, 232, 232);
}
/* not something you want to do. Bootstrap navbar was blocking the change. */

.find:hover {
  color: #0d6efd !important;
}

.container-fluid {
  padding: 0.5% 2%;
}

.nav-item {
  padding: 0 5px;
}

.length {
  height: 100px;
}

.fontawesome:hover {
  color: #0d6efd;
}

h1 {
  text-align: center;
  padding: 50px 0;
}

.addlist {
  margin-top: 100px;
  position: absolute;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20%;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .addlist {
    width: 30%;
  }
}

.placard-apt-1 {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgb(140, 185, 252);
  margin: auto auto 20px auto;
  position: relative;
  text-align: center;
  height: 350px;
  width: 565px !important;
}

.placard-photo-1 {
  background-size: auto;
  height: 100px;
  width: 100%;
  text-align: left;
  z-index: 2;
  background-repeat: no-repeat;
  border-radius: 5%;
}

.placard-header {
  /* border-bottom: 1px solid #eee; */
  var(--bs-font-sans-serif);
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 1.4;
  padding: 12px 20px 10px;
  text-align: left;
}

.left {
  font-size: 15px;
}
.right {
  font-size: 13px;
  font-family: "Ivar Headline", "Ivar Headline Subset", "Times New Roman", serif;
  font-weight: 600;
}
.clear2 {
  color: #0d6efd;
  text-align: right;
  /* padding-bottom: 10px; */
}

img {
  width: 100%;
  height: 264px;
  border-radius: 5%;
}

.edit{
  font-size: 25px;
  color: #0dd9fd;
  align-content: end;
  cursor: pointer;
}

.info{
  margin: 0 0 6px;
}

/* Modal Design */
.leaseDescription{
  margin: 8px 0;
}
.initial {
  margin: 0;
}
.set {
  border-bottom: 2px solid #ddd;
}
.second-section {
  margin-top: 20px;
}
.message-btn {
  padding: 0;
  width: 102px;
  height: 40px;
}
.apt {
  margin: 0;
  font-weight: lighter;
}
.cost {
  margin: 0;
  font-weight: bold;
}

.date {
  text-align: center;
  margin: 10px 0 5px;
}
.fouth-section {
  margin: 10px 0 0;
}
.pets {
  color: #cadfff;
  font: 0.85rem "Fira Sans", sans-serif;
}
.fouth-section .row {
  margin-bottom: 8px;
}
.gender-label {
  margin-top: 5px;
}
.gender {
  margin: 0 10px 0 0;
  border: 1px solid;
  border-radius: 15px;
  padding: 5px;
  color: #cadfff;
  background-color: rgb(233, 240, 245);
}
.save {
  font-size: 23px;
  color: Dodgerblue;
  cursor: pointer;
}
/* .save-button {
  border: none;
  outline: none;
  padding: 0px;
  color: #0d6efd;
  background-color: white;
} */